<html>
    <body style="color:#eee; background: #333;">
        <div style="margin:220px auto 0 auto; width:500px; text-align: center; font:Arial, sans-serif;">
            <div style="font-size: 38px;">
                TakeGive
            </div>
            <div style="font-size: 22px;">
                Green Hackfest 2014
            </div>
            <div style="margin-top:40px;">
                @@maccosmo       @@olcybuyan
            </div>
        </div>
    </body>
</html>
